.card-header,
.card-body,
.card-title,
.card-text {
  color: white;
}

.card {
  width : 390px;
  background-color: var(--bg-color) !important;
  border-radius: 0;
}

.card-header {
  background-color: var(--app-bar-color) !important;
}
.card-body {
}

.card-footer {
  padding: 0;
}

.list-group-item {
  background-color: var(--card-color) !important;
  color: white;
  border-color: var(--bg-color) !important;
  margin-top: 0.25rem;
}