.card-header,
.card-body,
.card-title,
.card-text {
  color: white;
}

.card {
  min-width: 30vw;
}

.card-header {
  background-color: var(--app-bar-color) !important;
}
.card-body {
  background-color: var(--bg-color) !important;
}
