/* src/theme.css */

:root {
  --primary-color: #007bff;
  --secondary-color: #6c757d;
  --success-color: #28a745;
  --info-color: #17a2b8;
  --warning-color: #ffc107;
  --danger-color: #dc3545;
  --light-color: #f8f9fa;
  --dark-color: #343a40;

  /* dark theme custom */
  --status-bar-color: #000000;
  --app-bar-color: #212121;
  --bg-color: #303030;
  --card-color: #424242;
  --modal-bg-color: #212529;
}
/* 전역 폰트 색상 설정 */
body, html {
  color: white !important;
  font-family: Helvetica, Arial, sans-serif;
}

.h-100vh {
  height: 100vh;
}

.modal-content {
  background-color: var(--modal-bg-color) !important;
}